.container {
  background-image: url("/images/background.png"); /* your image */
  background-repeat: no-repeat;
  background-size: 100% auto; /* image width fills container, height auto; gradient matches full container */
  background-position: top, top;
  background-attachment: scroll;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: black; /* ensures fade to black at bottom */
  padding-bottom: 50px;
  overflow: hidden;
}

.planets {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.darkOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 9998;
}

.darkOverlayOpened {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease;
}

.sidebar {
  background-color: black;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-image: linear-gradient(0deg, #272a4f, #df6ac9) 1;
  z-index: 9999;
}

.sidebarOpened {
  width: 220px;
  border-right: 3px solid;
  transition: width 0.3s ease, border-right 0.3s ease;
}

.sidebarClosed {
  width: 0;
  border-right: 0 solid;
  transition: width 0.3s ease, border-right 0.3s ease;
  overflow: hidden;
}

.sidebarOpened * {
  transition: opacity 0.3s ease 0.1s;
  opacity: 1;
}

.sidebarClosed * {
  opacity: 0;
}

.sidebarOpenButton {
  display: flex;
  top: 90px;
  left: 223px;
  position: fixed;
  transition: left 0.3s ease;
  z-index: 9999;
}

.sidebarOpenButton:hover {
  cursor: pointer;
}

.sidebarOpenButtonClosed {
  transition: left 0.3s ease;
  left: 0
}

.sidebarOpenButtonSquare {
  width: 20px;
  height: 34px;
  background-color: #df6ac9
}

.sidebarOpenButtonTriangle {
  width: 0px;
  height: 0px;
  border-left: solid 8px #df6ac9;
  border-top: solid 17px transparent;
  border-bottom: solid 17px transparent;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sidebarTitle {
  margin-top: 40px;
  margin-bottom: 20px;
}

.sidebarButton {
  width: 80%;
  padding: 1px;
  padding-left: 7px;
  border-radius: 10px;
  transition: background-color 0.3s ease, font-size 0.3s ease;
  margin-bottom: 5px;
}

.sidebarButton:hover {
  background-color: #5c5c5c;
  cursor: pointer;
  transition: background-color 0.3s ease, font-size 0.3s ease;
  font-size: 20px;
}