.title {
  font-size: 25px;
  font-weight: 900;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
}

.inputFile {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.inputFile::file-selector-button {
  all: unset;
  font-family: 'Cantarell';
  background: linear-gradient(90deg, #df6ac9, #bc50d7, #6840c4, #272a4f);
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 35px;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.inputFile::file-selector-button:hover {
  cursor: pointer;
  background: linear-gradient(270deg, #df6ac9, #bc50d7, #6840c4, #272a4f);
  transition: background 0.3s ease;
}