.title {
  font-size: 25px;
  font-weight: 900;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 600px;
  align-self: center;
  text-align: center;
}