:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Cantarell';
  color: white;
}

#__next,
:root {
  width: 100%;
  height: 100%;
}